.todo {
    width: 700px;
    height: auto;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid var(--border);
}

.title {
    text-align: center;
    color: var(--white);
}

.button {
    padding: 10px 18px;
    color: var(--primariy);
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: all .5s;
    border-radius: 8px;
    margin-top: 20px;
}

.button:active {
    transform: translateY(-20px);
}

.input {
    display: block;
    width: 100%;
    padding: 12px 16px;
    border: none;
    outline-color: var(--primariy);
    border-radius: 8px;
}

.card {
    margin-top: 20px;
}

.cardItem {
    width: 100%;
    padding: 20px;
    color: var(--white);
    border: 1px solid var(--border);
    margin-top: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardItem p {
    font-size: 18px;
    text-transform: uppercase;
}

.delBtn button {
    padding: 5px 10px;
    font-size: 18px;
    text-transform: uppercase;
    background-color: var(--red);
    color: var(--white);
    font-weight: bold;
    border: none;
    cursor: pointer;
}