@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    background: var(--primariy);
}

:root {
    --font-family: 'Roboto', 'sans-serif';
    --primariy: #171741;
    --border: #c5c5c5;
    --black: #000;
    --white: #fff;
    --red: #f35e5e;
}